// Primary
$color-primary-white: #FFFFFF;
$color-primary-black: #121212;
$color-primary-light-gray: #DEDEDE;
$color-primary-dark-gray: #575757;

// Secondary
$color-secondary-white: #FCFCFC;
$color-secondary-black: #1A1818;
$color-secondary-gray:  #9C9C9C;


$color-accent-red:  #9B4B4B;
$color-accent-gold: #AB8956;

$bp-sm: 768px;
$bp-md: 1024px; 
$bp-lg: 1366px; 

$container-max-width: 1400px;
$container-px-mobile: 16px;
$container-px-sm: 24px;
$container-px-md: 32px;
$container-px-lg: 48px;

$grid-gap-mobile: 12px;
$grid-gap-sm: 16px;
$grid-gap-md: 20px;
$grid-gap-lg: 24px;

$font-primary: 'Inter', sans-serif;
$font-display: 'Cormorant', serif;
